<html>
<head>
    <title>Admin Home</title>
    <link rel="stylesheet" href="../static/cyborg/cyborg.css" type="text/css">
    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
</head>
<body style="margin:0; padding-top:60px;">
        <nav class="navbar fixed-top navbar-expand-lg bg-primary" data-bs-theme="dark" style="z-index: 1000;">
        <div class="container-fluid">
            <a class="navbar-brand" href="adminhome">
               <img src="../static/images/logo without bg 2.png" alt="MediMap Logo" height="30" style="margin-top: -5;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link active" href="adminhome">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    <!-- Admin Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="admin_reg">Register</a>
                            <a class="dropdown-item" href="show_admins">Administration</a>
                        </div>
                    </li>

                    <!-- Medical Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Medical</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="medical_reg">Register</a>
                            <a class="dropdown-item" href="show_medicals">Manage</a>
                        </div>
                    </li>

                    <!-- Logout -->
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid" style="min-height: 700px;">

    {% block m1 %}
    {% endblock %}
</div>

<div class="container-fluid black" style="height: 10px;"></div>

    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
