{% extends 'DeleteMedicalTemp.html' %}
{% block m1 %}

<link href="../static/css/DeleteMedical.css" rel="stylesheet" type="text/css" />

<h1>Delete Medical Store Data</h1>

{% if vgt %}
<div class="delete-container">
    <h3>{{ vgt[0] }}</h3>
    <p>
        <b>Owner Name:</b> {{ vgt[1] }} <br/>
        <b>Address:</b> {{ vgt[2] }} <br/>
        <b>Contact:</b> {{ vgt[3] }} <br/>
        <b>Licence No.:</b> {{ vgt[4] }} <br/>
        <b>Email:</b> {{ vgt[5] }}
    </p>

    <form onsubmit="return confirm('Are you sure you want to delete this medical store?')" method="post" action="delete_medical1">
        <input type="hidden" name="T1" value="{{ vgt[5] }}">
        <button type="submit">Delete</button>
    </form>

    <a href="show_medicals">
        <button type="button">Back</button>
    </a>
</div>
{% endif %}

{% endblock %}
